* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 10%;

}

h1 {
    margin: 20px;
}

.container {
    margin: 40px 0px;
}

h2 {
    margin: 10px 0;
}